.poster img {
    width: 30%;
}

.movieTitle {
    text-align: center;
    padding-bottom: 15px;
    font-size: 25px;
    margin-right: 7.5%;
}

.extra {
    text-align: justify;
    margin-top: 1.5em;
}