.itemQty {
    width: 50%;
    margin: 1.5rem 0;
    display: flex;
    margin-left: auto;
    margin-right: auto;
}

.itemQty button {
    width: 20%;
    border: none;
    padding: 0.5rem;
    outline: none;
    cursor: pointer;
    background: white;
    border-radius: 1rem;
    color: black;
    font-size: 1.5rem;
}

.itemQty input {
    width: 110%;
    text-align: center;
    padding: 0.5rem;
    font-size: 1.8rem;
    outline: none;
    border-bottom: none !important;
}